<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tip.orderfood">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logodangnhap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TrangChuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangNhapActivity">

        </activity>
        <activity android:name=".ThemThongTinActivity">

        </activity>
        <activity android:name=".DangKyActivity">

        </activity>

        <activity android:name=".ThemBanAnActivity" android:theme="@style/PopUpActivity" android:label="@string/thembanan">

        </activity>
        <activity android:name=".ThemThucDonActiivity">

        </activity>
        <activity android:name=".ThemLoaiThucDonActivity" android:theme="@style/PopUpActivity"
            android:label="@string/loaithucdon">

        </activity>
        <activity android:name=".SoLuongActivity" android:theme="@style/PopUpActivity"
            android:label="@string/soluong">

        </activity>
        <activity android:name=".ThanhToanActivity" android:label="@string/thanhtoan">


        </activity>
        <activity android:name=".ThongKeChiTietActivity" android:label="@string/chitietgoimon">


        </activity>
        <activity android:name=".XacNhanThanhToanActivity" android:label="@string/xacnhanthanhtoan" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".XacNhanPhucVuActivity" android:label="@string/xacnhangaomom" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".XacNhanResetLanGoiMonActivity" android:label="@string/resetgoimon" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".ChiTietNhanVienActivity" android:label="@string/chitietnhanvien">


        </activity>
        <activity android:name=".XacNhanXoaNhanVienActivity" android:label="@string/xacnhanxoanhanvien" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".XacNhanDoiMatKhauActivity" android:label="@string/xacnhandoimatkhau" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".MenuBanAnActivity" android:label="@string/menubanan" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".XacNhanXoaBanAnActivity" android:label="@string/xacnhanxoabanan" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".SuaBanAnActivity" android:label="@string/suabanan" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".SuaLoaiMonAnActivity" android:label="@string/sualoaimonan" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".SuaMonAnActivity" android:label="@string/suamonan" >


        </activity>
        <activity android:name=".XacNhanXoaloaiActivity" android:label="@string/xacnhanxoaloai" android:theme="@style/PopUpActivity">


        </activity>
        <activity android:name=".XacNhanXoaMonAnActivity" android:label="@string/xacnhanxoamona" android:theme="@style/PopUpActivity">


        </activity>
    </application>

</manifest>